.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background: white;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.galeria {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}





.imagen-producto:hover {
    transform: scale(1.3); /* Efecto de zoom al pasar el mouse */
}
